/* line 4, ../sass/components/_hero.scss */
#hero {
  height: 80vh;
  background: #f15d58;
  padding: 10vh;
  text-align: center;
  color: #363637;
}

/* line 16, ../sass/components/_hero.scss */
.logo {
  background: #363637;
  height: 0;
  width: 40%;
  padding-bottom: 40%;
  margin: auto;
  border-radius: 50%;
}

/* line 3, ../sass/site.scss */
.wrap {
  max-width: 960px;
  margin: auto;
}
