/* line 4, ../sass/components/_hero.scss */
#hero {
  height: 100vh;
  background: #f15d58;
}

/* line 9, ../sass/components/_hero.scss */
.logo {
  background: #363637;
  height: 50em;
  width: 50em;
  margin: auto;
  border-radius: 50%;
}
