/* line 5, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'PhantLight';
  src: url("fonts/PhantLight.otf");
}
/* line 1, ../sass/components/_base.scss */
.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  z-index: 10;
}

/* line 8, ../sass/components/_base.scss */
.backdrop {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

/* line 17, ../sass/components/_base.scss */
body {
  background: #433830;
}

/* line 21, ../sass/components/_base.scss */
.mirrorX {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}

/* line 26, ../sass/components/_base.scss */
.mirrorY {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-filter: FlipV;
          filter: FlipV;
}

/* line 1, ../sass/components/_media-grid.scss */
.media-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/* line 7, ../sass/components/_media-grid.scss */
.media-grid article {
  width: 100%;
  padding: .5em 0;
}
@media (min-width: 550px) and (max-width: 960px) {
  /* line 7, ../sass/components/_media-grid.scss */
  .media-grid article {
    width: 45%;
    padding: .5em;
  }
}
@media (min-width: 960px) {
  /* line 7, ../sass/components/_media-grid.scss */
  .media-grid article {
    width: 30%;
    padding: .5em;
  }
}
/* line 22, ../sass/components/_media-grid.scss */
.media-grid .full {
  width: 100%;
  padding: 1em;
}

@-webkit-keyframes "pulse_animation" {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes "pulse_animation" {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* line 9, ../sass/components/_animations.scss */
.pulse:hover {
  -webkit-animation-name: 'pulse_animation';
          animation-name: 'pulse_animation';
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes 'wiggle' {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@keyframes 'wiggle' {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
/* line 23, ../sass/components/_animations.scss */
.wiggle:hover {
  -webkit-animation: 'wiggle' .3s 2;
          animation: 'wiggle' .3s 2;
}

/* line 1, ../sass/components/_hero.scss */
#hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: #433830;
  text-align: center;
  color: #F7E8DE;
  letter-spacing: .05em;
  font-family: PhantLight;
}
/* line 15, ../sass/components/_hero.scss */
#hero h1, #hero h2, #hero p {
  margin: auto;
}
/* line 19, ../sass/components/_hero.scss */
#hero h1, #hero h2 {
  color: #F7E8DE;
}
/* line 23, ../sass/components/_hero.scss */
#hero h1 {
  width: 60%;
  min-width: 300px;
  font-size: 500%;
  letter-spacing: .15em;
}
/* line 30, ../sass/components/_hero.scss */
#hero h2 {
  width: 35%;
  min-width: 200px;
  font-size: 250%;
  letter-spacing: .05em;
}
/* line 37, ../sass/components/_hero.scss */
#hero p {
  width: 20%;
  min-width: 140px;
  font-size: 120%;
  margin-top: 1.2em;
  margin-bottom: .7em;
  font-family: Raleway;
  color: #F7E8DE;
}
/* line 47, ../sass/components/_hero.scss */
#hero .logo {
  margin-top: 10vh;
  min-width: 185px;
  width: 35%;
}
@media (min-width: 600px) {
  /* line 47, ../sass/components/_hero.scss */
  #hero .logo {
    margin-top: 5vh;
  }
}
/* line 57, ../sass/components/_hero.scss */
#hero a {
  display: inline-block;
  color: #F7E8DE;
  padding: 0 .4em;
  text-transform: lowercase;
  font-size: 150%;
  text-decoration: none;
  border-bottom: 2px solid #F7E8DE;
}
/* line 66, ../sass/components/_hero.scss */
#hero a:hover {
  color: #F7E8DE;
}
/* line 70, ../sass/components/_hero.scss */
#hero a.anchorLink {
  display: block;
  font-size: 350%;
  margin-top: 1em;
  border: none;
}
/* line 80, ../sass/components/_hero.scss */
#hero .sendgrid-subscription-widget span {
  display: none;
}
/* line 86, ../sass/components/_hero.scss */
#hero label {
  display: inline-block;
  width: 44%;
}
/* line 91, ../sass/components/_hero.scss */
#hero div.mc-field-group {
  width: 44%;
  display: inline-block;
}
/* line 96, ../sass/components/_hero.scss */
#hero input[type=email] {
  display: inline-block;
  background: none;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 36px;
  color: #433830;
  background-color: rgba(247, 232, 222, 0.3);
  -webkit-appearance: none;
}
/* line 110, ../sass/components/_hero.scss */
#hero ::-webkit-input-placeholder {
  color: #433830;
  font-family: PhantLight;
  padding-left: .5em;
  letter-spacing: .06em;
}
/* line 117, ../sass/components/_hero.scss */
#hero :-moz-placeholder {
  /* Firefox 18- */
  color: #433830;
  font-family: PhantLight;
  padding-left: .5em;
  letter-spacing: .06em;
}
/* line 124, ../sass/components/_hero.scss */
#hero ::-moz-placeholder {
  /* Firefox 19+ */
  color: #433830;
  font-family: PhantLight;
  padding-left: .5em;
  letter-spacing: .06em;
}
/* line 131, ../sass/components/_hero.scss */
#hero :-ms-input-placeholder {
  color: #433830;
  font-family: PhantLight;
  padding-left: .5em;
  letter-spacing: .06em;
}
/* line 138, ../sass/components/_hero.scss */
#hero input[type=submit] {
  display: inline-block;
  color: #433830;
  background: none;
  border: none;
  border-radius: 0;
  width: 40px;
  padding: 0;
  margin-left: 20px;
  height: 40px;
  background-color: rgba(247, 232, 222, 0.3);
  -webkit-appearance: none;
}
/* line 154, ../sass/components/_hero.scss */
#hero #mc_embed_signup {
  margin-bottom: 1em;
}

/* line 2, ../sass/components/_heroBackdrop.scss */
#hero .backdrop {
  height: 100vh;
  overflow: hidden;
}

/* line 8, ../sass/components/_heroBackdrop.scss */
.island {
  width: 100%;
  position: absolute;
  top: 72vh;
  left: 0;
  z-index: 4;
}
@media (min-width: 600px) {
  /* line 8, ../sass/components/_heroBackdrop.scss */
  .island {
    top: 25vh;
  }
}

/* line 20, ../sass/components/_heroBackdrop.scss */
.backfog {
  width: 100%;
  position: absolute;
  top: 78vh;
  left: 0;
  z-index: 1;
}
@media (min-width: 600px) {
  /* line 20, ../sass/components/_heroBackdrop.scss */
  .backfog {
    top: 45vh;
  }
}

/* line 32, ../sass/components/_heroBackdrop.scss */
.light-back-cloud {
  width: 35%;
  position: absolute;
  top: 25vh;
  left: 74%;
  z-index: 1;
}

/* line 40, ../sass/components/_heroBackdrop.scss */
.dark-back-cloud {
  position: absolute;
  width: 35%;
  top: 18vh;
  left: -3%;
  z-index: 1;
}

/* line 48, ../sass/components/_heroBackdrop.scss */
.cloud1, .cloud2, .faq2 {
  opacity: 0.8;
  z-index: 5;
}

/* line 53, ../sass/components/_heroBackdrop.scss */
.cloud1 {
  position: absolute;
  width: 85%;
  top: 30vh;
  left: -20%;
  display: none;
}
@media (min-width: 600px) {
  /* line 53, ../sass/components/_heroBackdrop.scss */
  .cloud1 {
    display: block;
  }
}

/* line 65, ../sass/components/_heroBackdrop.scss */
.cloud2 {
  position: absolute;
  width: 85%;
  top: 83vh;
  left: 30%;
}
@media (min-width: 600px) {
  /* line 65, ../sass/components/_heroBackdrop.scss */
  .cloud2 {
    top: 70vh;
  }
}

/* line 76, ../sass/components/_heroBackdrop.scss */
.lil-cloud {
  position: absolute;
  width: 45%;
  top: 70vh;
  left: -10%;
  z-index: 6;
}
@media (min-width: 600px) {
  /* line 76, ../sass/components/_heroBackdrop.scss */
  .lil-cloud {
    top: 60vh;
  }
}

/* line 88, ../sass/components/_heroBackdrop.scss */
.faq-head {
  position: absolute;
  width: 120%;
  bottom: -1vh;
  left: -10%;
  z-index: 8;
}
@media (min-width: 600px) {
  /* line 88, ../sass/components/_heroBackdrop.scss */
  .faq-head {
    bottom: -10vh;
  }
}

/* line 100, ../sass/components/_heroBackdrop.scss */
.faq-tail {
  position: absolute;
  width: 120%;
  top: -1vh;
  left: -5%;
  z-index: 8;
}

/* line 108, ../sass/components/_heroBackdrop.scss */
.faq2 {
  position: absolute;
  width: 65%;
  top: 1vh;
  left: -12%;
  z-index: 9;
}

/* line 1, ../sass/components/_FAQ.scss */
#faq {
  padding: .1em;
  background: #d8bca7;
  color: #5d4f43;
  font-family: Lato;
  font-weight: 100;
  text-align: center;
  position: relative;
}
/* line 11, ../sass/components/_FAQ.scss */
#faq a {
  color: #a86b28;
}
/* line 14, ../sass/components/_FAQ.scss */
#faq a:visited {
  color: #7e562d;
}
@media (min-width: 550px) {
  /* line 1, ../sass/components/_FAQ.scss */
  #faq {
    text-align: left;
  }
}
/* line 24, ../sass/components/_FAQ.scss */
#faq article {
  z-index: 10;
}
/* line 28, ../sass/components/_FAQ.scss */
#faq h1 {
  text-transform: capitalize;
  font-size: 135%;
  padding-bottom: .4em;
}
@media (min-width: 550px) {
  /* line 28, ../sass/components/_FAQ.scss */
  #faq h1 {
    font-size: 200%;
  }
}
@media (max-width: 550px) {
  /* line 28, ../sass/components/_FAQ.scss */
  #faq h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0 5%;
    color: #5d4f43;
    background-color: #c1aa96;
  }
  /* line 47, ../sass/components/_FAQ.scss */
  #faq h1 span {
    padding: .4em;
    width: 80%;
  }
  /* line 52, ../sass/components/_FAQ.scss */
  #faq h1 i {
    width: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #a89483;
    padding: .4em .5em;
  }
  /* line 58, ../sass/components/_FAQ.scss */
  #faq h1 i:before {
    margin: auto;
  }
}
@media (min-width: 550px) {
  /* line 65, ../sass/components/_FAQ.scss */
  #faq i {
    display: none;
  }
}
/* line 73, ../sass/components/_FAQ.scss */
#faq p {
  font-size: 120%;
  padding: 1em;
  display: none;
  z-index: 10;
  line-height: 110%;
}
@media (min-width: 550px) {
  /* line 73, ../sass/components/_FAQ.scss */
  #faq p {
    display: block;
    font-size: 110%;
    padding: 0;
  }
}
/* line 87, ../sass/components/_FAQ.scss */
#faq .full {
  text-align: center;
  font-size: 120%;
  padding-bottom: 1em;
  line-height: 100%;
}
/* line 93, ../sass/components/_FAQ.scss */
#faq .full h1 {
  font-size: 275%;
  padding-bottom: .3em;
}
/* line 98, ../sass/components/_FAQ.scss */
#faq .full p {
  display: block;
}
@media (min-width: 550px) {
  /* line 87, ../sass/components/_FAQ.scss */
  #faq .full {
    font-size: 210%;
    line-height: 120%;
  }
}

/* line 1, ../sass/components/_sponsors.scss */
#sponsors {
  background: #3498db;
  position: relative;
  padding: 10vh .5em;
  overflow: hidden;
}
@media (min-width: 550px) {
  /* line 1, ../sass/components/_sponsors.scss */
  #sponsors {
    padding-top: 40vh;
  }
}
/* line 11, ../sass/components/_sponsors.scss */
#sponsors h1 {
  text-align: center;
  font-size: 350%;
  font-family: PhantLight;
  text-transform: lowercase;
  padding: 0;
  margin-bottom: 1em;
  color: #1b3c4c;
  text-decoration: underline;
  font-weight: bold;
}
@media (min-width: 550px) {
  /* line 11, ../sass/components/_sponsors.scss */
  #sponsors h1 {
    font-size: 500%;
  }
}
/* line 27, ../sass/components/_sponsors.scss */
#sponsors article {
  position: relative;
}
/* line 31, ../sass/components/_sponsors.scss */
#sponsors .media-grid {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 37, ../sass/components/_sponsors.scss */
.ship {
  width: 100%;
  margin-top: -23%;
}

/* line 42, ../sass/components/_sponsors.scss */
.sponsor-logo {
  display: block;
  width: 65%;
  margin: auto;
}

/* line 48, ../sass/components/_sponsors.scss */
.waves {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
}

/* line 1, ../sass/components/_footer.scss */
.footer {
  text-align: center;
  padding: .2em 0;
  font-family: Lato;
  font-weight: 100;
  background-color: #2980b9;
}
/* line 8, ../sass/components/_footer.scss */
.footer .fa-rocket {
  color: #bdc3c7;
}
/* line 12, ../sass/components/_footer.scss */
.footer a {
  color: #F7E8DE;
}
/* line 15, ../sass/components/_footer.scss */
.footer a:visited {
  color: #5d4f43;
}

/* line 2, ../sass/components/_fontfixes.scss */
#hero a.windowsCenter {
  padding: .5em;
  padding-top: .25em;
}
