[submodule "stdlib"]
        path = puppet/modules/nodejs/spec/fixtures/modules/stdlib
        url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "libbar"]
        path = puppet/modules/nodejs/spec/fixtures/modules/wget
        url = git://github.com/maestrodev/puppet-wget.git
