.wrap {
  max-width: 960px;
  margin: auto;
}

body {
  background: $heroBackground;
}

.center-container {
  text-align: center;

  /* The ghost, nudged to maintain perfect centering */
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
