$mutedCream: rgba(247,232,222, .5);

$buttonBackground: $mutedCream;
$heroBackground: #433830;
$heroMain: #F7E8DE;
$heroMainDark: #F7E8DE;
$heroAccent: #F7E8DE;



$faqBackground: #dbdecb;
$faqText: #363637;

$sponsorBackground: #414042;
$sponsorForeground: #939599;
