$cream: #F7E8DE;
$mutedCream: rgba(247,232,222, .3);
$mediumBrown: #433830;


$heroBackground: $mediumBrown;
$heroLink: $cream;
$heroMain: $cream;
$heroMainDark: $cream;
$heroAccent: $cream;

$buttonBackground: $mutedCream;
$buttonText: $mediumBrown;



$faqBackground: #d5baa9;
$faqText: #998100;

$sponsorBackground: #414042;
$sponsorForeground: #939599;
