$cream: #F7E8DE;
$mutedCream: rgba(247,232,222, .3);
$mediumBrown: #433830;
$lightBrown: #5d4f43;
$peterRiver: #3498db;
$chocolateSea: #3f332b;


$heroBackground: $mediumBrown;
$heroLink: $cream;
$heroMain: $cream;
$heroMainDark: $cream;
$heroAccent: $cream;

$buttonBackground: $mutedCream;
$buttonText: $mediumBrown;



$faqBackground: #d8bca7;
$faqText: $lightBrown;

$sponsorBackground: $chocolateSea;
$sponsorForeground: #939599;
