#faq {
  padding: .1em;

  background: $faqBackground;
  color: $faqText;
  font-family: PhantLight;

  h1 {
    margin: auto;
    font-size: 500%;
    text-transform: capitalize;
    text-align: center;
  }
}
