#faq {
  padding: .1em;
  padding-top: 7.5vh;

  background: $faqBackground;
  color: $faqText;
  font-family: Raleway;
  text-align: center;
  position: relative;

  @media (min-width: 550px) {
    padding-top: 15vh;

    text-align: left;
  }

  h1 {
    text-transform: capitalize;
    font-size: 200%;
    padding-bottom: .4em;
  }

  p {
    font-size: 120%;
    padding: 1em;

    @media (min-width: 550px) {
      font-size: 110%;
      padding: 0;
    }
  }

  .full {
    text-align: center;
    font-size: 120%;
    padding-bottom: 3%;

    @media (min-width: 550px) {
      font-size: 210%;
      line-height: 120%;
    }

    h1 {
      font-size: 275%;
      padding-bottom: .3em;
    }
  }
}
