#faq {
  padding: .1em;
  padding-top: 15vh;

  background: $faqBackground;
  color: $faqText;
  font-family: Raleway;
  text-align: left;
  position: relative;

  h1 {
    text-transform: capitalize;
    font-size: 200%;
    padding-bottom: .4em;
  }

  p {
    font-family: Raleway;
    font-size: 110%;
  }

  .full {
    text-align: center;
    font-size: 170%;
    line-height: 120%;
    padding-bottom: 3%;

    h1 {
      font-size: 275%;
      padding-bottom: .3em;
    }
  }
}
