$background: #f15d58;
$foreground: #363637;
$text: #dbdecb;

#hero {
  height: 80vh;
  background: $background;
  padding: 10vh;
  text-align: center;
  color: #363637;

  a {
    background: $foreground;
    color: $text;
    padding: .5em;
    border-radius: .8em;
    text-decoration: none;
  }

  .logo {
    background: $foreground;
    height: 0;
    width: 40%;
    padding-bottom: 40%;
    margin: auto;
    border-radius: 50%;
  }
}
