$background: #f15d58;
$assets: #363637;

#hero {
  height: 80vh;
  background: $background;
  padding: 10vh;
}

.logo {
  background: $assets;
  height: 0;
  width: 40%;
  padding-bottom: 40%;
  margin: auto;
  border-radius: 50%;
}
