.island {
  width: 100%;
  position: absolute;
  top: 25vh;
  left: 0;
  z-index: 4;
}

.backfog {
  width: 100%;
  position: absolute;
  top: 45vh;
  left: 0;
  z-index: 1;
}

.light-back-cloud {
  width: 35%;
  position: absolute;
  top: 25vh;
  left: 74%;
  z-index: 1;
}

.dark-back-cloud {
  position: absolute;
  width: 35%;
  top: 18vh;
  left: -3%;
  z-index: 1;
}

#hero {
  .backdrop{
    height: 100vh;
  }
}
