#hero {
  height: 80vh;
  background: $heroBackground;
  padding: 10vh;
  text-align: center;
  color: #363637;

  a {
    background: $heroForeground;
    color: $heroText;
    padding: .5em;
    border-radius: .8em;
    text-decoration: none;
  }

  .logo {
    background: $heroForeground;
    height: 0;
    width: 40%;
    padding-bottom: 40%;
    margin: auto;
    border-radius: 50%;
  }
}
