.media-grid {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  article {
    width: 100%;
    padding: 1% 0;

    @media (min-width: 550px) and (max-width: 960px) {
      width: 45%;
      padding: 1%;
    }

    @media (min-width: 960px) {
      width: 30%;
      padding: 1%;
    }
  }

  .full {
    width: 100%;
    padding: 1em;
  }
}
