#sponsors {
  background: $sponsorBackground;
  position: relative;
  padding: 10vh .5em;
  overflow: hidden;


  h1 {
    text-align: center;
    font-size: 500%;
    font-family: PhantLight;
    text-transform: uppercase;
    padding: 0;
    padding-bottom: 1em;
    color: $sponsorText;
  }

  article {
    position: relative;
  }

  .media-grid {
    align-items: flex-end;
    justify-content: center;
  }

  @media (min-width: 550px){
    padding-top: 20vh;
  }

}

.ship {
  width: 100%;
  margin-top: -23%;
}

.sponsor-logo {
  display: block;
  width: 65%;
  margin: auto;
}

.waves {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
}
