#sponsors {
  background: $sponsorBackground;
  position: relative;
  padding: 10vh .5em;
  overflow: hidden;

  @media (min-width: 550px){
    padding-top: 40vh;
  }

  h1 {
    text-align: center;
    font-size: 350%;
    font-family: PhantLight;
    text-transform: lowercase;
    padding: 0;
    margin-bottom: 1em;
    color: $sponsorText;
    text-decoration: underline;
    font-weight: bold;

    @media (min-width: 550px){
      font-size: 500%;
    }
  }

  article {
    position: relative;
  }

  .media-grid {
    align-items: flex-end;
    justify-content: center;
  }
}

.ship {
  width: 100%;
  margin-top: -23%;
}

.sponsor-logo {
  display: block;
  width: 65%;
  margin: auto;
}

.waves {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
}
